{% extends 'base.html' %} {% block title %}The Fairytale{%
endblock %} {% block content %}
<form action="/story1" method="POST">
	<label for="place">place:</label>
	<input type="text" name="place" id="place-input" />

	<label for="noun">noun:</label>
	<input type="text" name="noun" id="noun-input" />

	<label for="verb">verb:</label>
	<input type="text" name="verb" id="verb-input" />

	<label for="adjective">adjective:</label>
	<input
		type="text"
		name="adjective"
		id="adjective-input"
	/>

	<label for="plural_noun">plural_noun:</label>
	<input type="text" name="plural_noun" id="plural-input" />

	<button type="submit" class="story-form-button">
		Submit
	</button>
</form>
{% endblock %}
